body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: #f2cb0c 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("../img/home.jpg") no-repeat;
  min-height: 900px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 900px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #FFCA00;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#explore-section .fa, #share-section .fa {
  color: #fff;
  background: #333;
  margin-top: 100px;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#create-section .fa {
  color: #f2cb0c;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }


.title-section-competencias{
  background-color: #e8dc5a;
  border-top: 2px white solid;
  padding-top: 15px;
  color: #333;
}