body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: #f2cb0c 3px solid;
  opacity: 0.8; }

#home-section {
  /*min-height: 56.2em;*/
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    
    top: 0;
    left: 0;
    width: 100%;
    /*min-height: 900px;*/ }
  #home-section .home-inner {
    padding-top: 100px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #e8dc5a;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#competencias-section .fa, #share-section .fa {
  color: #fff;
  background: #333;
  /**margin-top: 100px;*/
  padding: 4px;
  border-radius: 5px;
  font-size: 20px;
 }

#create-section .fa {
  color: #e8dc5a;
  padding: 4px;
  font-size: 30px; }


.title-section-competencias{
  background-color: #e8dc5a;
  border-top: 2px white solid;
 
  color: #333;
}

/*@media(min-width: 993px){
    .bg-teste{
      border-color: 2px white solid;
    }
}
@media(min-width: 320px) and (max-width: 359px){
  img .img-home{
    border-radius: 50px;
  }


   #competencias-head-section{
     margin-top: 850px;
   }
   .font{
     font-size: 30px;
   }
}

@media(min-width: 375px) and (max-width: 576px){
   #competencias-head-section{
     margin-top: 830px;
   }
}

@media(min-width: 360px) and (max-width: 374px){
   #competencias-head-section{
     margin-top: 827px;
   }
   .font{
     font-size: 30px;
   }
}

@media(min-width: 440px) and (max-width: 720px){
   #competencias-head-section{
     margin-top: 950px;
   }
}

img .img-home{
  border-radius: 50%;
}*/

